{{partial "modules/header" .}}

{{$about := .Params.about}}
<section class="about">
	<div class="container">
		<div class="content__wrap">
			{{with $about.title}}
			<h2 class="base-title about__title">{{.|safeHTML}}</h2>
			{{end}}
			{{with $about.text_1}}
			<p class="base-text about__text">{{.|safeHTML}}</p>
			{{end}}
			{{with $about.image}}
			<img src="{{.}}" alt="">
			{{end}}
			{{with $about.text_2}}
			<p class="base-text about__text">{{.|safeHTML}}</p>
			{{end}}
			{{with $about.text_3}}
			<p class="base-text about__text">{{.|safeHTML}}
				{{with $about.email}} 
				<a href="mailto:info@custobar.com" class="blue-text">{{.|safeHTML}}</a>
				{{end}}
			.</p>
		</div>

		{{with $about.slider}}
		<section class="reviews">
		<div class="container">
			<div class="slider">
				{{range .}}
				<div class="slider__item">
					{{with .icon}}
					<div class="slide__avatar">
						<img src="{{.}}" alt="avatar">
					</div>
					{{end}}
					{{with .text}}
					<div class="slide__text">“{{.|safeHTML}}”</div>
					{{end}}
					{{with .link}}
					<a href="{{.url}}" class="slide__link">{{.title}}</a>
					{{end}}
					<div class="slide__name"><span>{{with .name}}{{.}}{{end}}</span>
					<br>{{with .position}}{{.}}{{end}}</div>
				</div>
				{{end}}
			</div>
		</div>
		</section>
		{{end}}

		{{end}}
	</div>
</section>

{{partial "modules/footer" .}}
