<!doctype html>
  {{partial "vendor/head" .}}
  <body class="content-page">
    {{partial "modules/header" .}}
    <article class="testimonial">
    	<div class="container">
    		<h2 class="base-title testimonial__title">Levykauppa X is the master of its <br> own data and destiny</h2>
    		<p>The biggest record store chain in Finland, Levykauppa Äx has been using Custobar since its inception in 2014. Jyri Lipponen, the eclectic entrepreneur, shares his views on how to turn every member of your staff into a sales champion – with the help of data.</p>
    		<p>“We are great fans of social media, but we can’t become dependent on Facebook and Google. We also have to master our own data – shopping history, browsing history; we just have to have it.”</p>
    		<div class="testimonial__avatar">
    			<img class="testimonial__avatar__image" src="/images-theme/slide.png" alt="">
    			<div class="testimonial__avatar__name">Jyri Lipponen</div>
    			<div class="testimonial__avatar__descr">Founder, Levykauppa Äx</div>
    		</div>
    		<div class="testimonial__video" id="video">
    			<div class="video-bg"></div>
    			<iframe 
    			src="https://player.vimeo.com/video/149581829?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
    		</div>
    		<h2 class="base-title">Our sales people are our best marketers</h2>
    		<p>“We have managed to turn 75 % of our staff into marketers. They create email campaigns with Custobar and we use those campaigns on social media too. My goal is that every piece of content that goes on Custobar has to go on social media, even if it is a 2 € investment.</p>
    		<p>Our sales people are the best marketers because they know the products. We just give them a shopping history and browsing history. Someone who browses the records of Iron Maiden is not likely to hate the band. Actually, his passion makes him a very potential customer.”</p>
    		<figure>
    				<img src="/images-theme/article_img2.jpg" alt="">
    			 <figcaption>When we sell black metal the tone of the marketing is quite different from when we're selling John Coltrane. The trick is that we have staff with a passion for both, and the right person can do it right.</figcaption>
    		</figure>

    		<h2 class="base-title">Aim and shoot</h2>
    		<p>“We have 10 shops in 7 cities. When Maija from Kuopio sends her emails to the people who live nearby, she may tell them how she rakes the leaves in her yard. When this very personal content is personalised to those who have browsed and bought, the targeting just damn matches.</p>
    		<p>We seldom send messages to our whole customer register. The principles of our customer marketing are aim and shoot.”</p>

    		<h2 class="base-title">Artists choose custobar because <br> they love custobar</h2>
    		<p>“We also benefit from Custobar in our partnerships. We sell merchandise for artists and run merchandising on their tours too. The reason why I get these deals is not that I’m a great guy but the fact that artists understand that I can sell. Artists and record companies love Custobar because they know that it makes us the masters of all that useful data.”</p>

    		<figure>
    				<img src="/images-theme/article_img3.jpg" alt="">
    		</figure>

    		<h2 class="base-title">Life after print</h2>

    		<p>“When I got Custobar running two years ago, I stopped all print advertising. (Levykauppa Äx was famous nation-wide for its hilarious print ads) It had become eaten alive. I moved everything to social media and Custobar. Now, our staff sends 100-200 different messages per month through Custobar. The secret is that it is so easy and motivating to use. You see the results the following day. Sometimes the conversion rates are just insane; 40 % is not unheard of.</p>
    		<p>Every member of our staff can post campaigns and follow conversion rates without special IT skills. Even I can do it. We only have people who are passionate about music. Nobody has been hired for his or her IT wizardry.”</p>

    		<div class="testimonial__avatar__name">Jyri Lipponen</div>
    		<div class="testimonial__avatar__descr">Founder, Levykauppa Äx</div>


    	</div>
    </article>
    {{partial "modules/footer" .}}
    {{partial "vendor/footer-scripts" .}}
  </body>
</html>