{{partial "modules/header" .}}

{{$book := .Params.book}}
<section class="book-a-demo">
	<div class="container">
		<div class="content__wrap">
			{{with $book.title}}
			<h2 class="base-title book-a-demo__title">{{.|safeHTML}}</h2>
			{{end}}
			{{with $book.text_1}}
			<p class="base-text book-a-demo__text">{{.|safeHTML}}</p>
			{{end}}
			{{with $book.image}}
			<img class="book-a-demo__image" src="{{.}}" alt="">
			{{end}}
			{{with $book.text_2}}
			<p class="base-text book-a-demo__text">{{.|safeHTML}}</p>
			{{end}}
		</div>

		{{partial "modules/contact-form"}}

	</div>
</section>

{{partial "modules/footer" .}}
