.hero__title 
	font-size: 88px
	line-height: 110px
	padding: 30px 0
	span
		background-image: url(../images-theme/main-slogan-svg.png)
		background-size: contain
		background-position: 50% 100%
		background-repeat: no-repeat

.hero__item
	padding: 0 5%
	background-image: url(../images-theme/vector-smart-object-copy.png)
	background-repeat: no-repeat
	background-size: 30%
	background-position: 50% 65%
.herro__text
	width: 50%
	text-align: left
	position: relative
	top: -40px
.hero__image
	width: 50%
	position: relative
	z-index: -1			 

.sentence__item
	margin-bottom: 70px

.sentence__text
	width: 66%
	text-align: center
	margin: 0 auto
	margin-bottom: 80px

.sentence__benefits
	width: 50%
	padding: 30px 40px
	padding-left: 3%
	padding-right: 4%
	text-align: left
	background-color: $ligth-blue
	display: flex
	flex-wrap: wrap
	align-self: normal
	align-items: center
	//border: 2px dashed #dbeffb
	position: relative
	svg
	  position: absolute
	  top: 0px
	  left: 0px
	  height: 100%
	  width: 100%
	path
	  fill: none
	  stroke: #dbeffb
	  stroke-width: 2
	  stroke-dasharray: 5, 3

.benefits__title
	margin-bottom: 30px

.benefits__list
	li
		margin-bottom: 2px
		padding-left: 25px
		position: relative
		&:before
			content: ""
			width: 10px
			height: 10px
			border-radius: 50%
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
			background-color: red
		&:nth-child(1)
			&:before
				background-color: $red
		&:nth-child(2)
			&:before
				background-color: $yellow
		&:nth-child(3)
			&:before
				background-color: $blue
		&:nth-child(4)
			&:before
				background-color: $green							

.sentence__form
	width: 50%
	padding: 30px 40px
	padding-left: 3%
	padding-right: 4%
	text-align: left
	background-color: $green
	display: flex
	flex-wrap: wrap
	align-self: normal
	align-items: flex-start

.form__title
	color: $white
	margin-bottom: 20px
.form__text
	color: $white
	margin-bottom: 20px		

.input-wrap
	position: relative
.base-form
	input
		box-sizing: border-box
		width: 100%
		border: none
		background-color: $green-light
		padding: 13px 15px
	button
		position: absolute
		z-index: 10
		right: 0
		top: 0
		height: 100%
		font-weight: 700
		font-size: 23px
		padding: 0 25px
		background-color: $green-dark
		color: $white
		text-transform: uppercase
		border: none
		transition: all 0.3s ease
		&:hover
			background-color: darken($green-dark, 10%)

.reviews
	padding-bottom: 100px

.slider__item
	text-align: center
	margin-bottom: 50px
	&:hover
		cursor: pointer

.slide__avatar
	width: 150px
	height: 150px
	border-radius: 50%
	text-align: center
	overflow: hidden
	display: inline-block
	margin-bottom: 50px
	img
		max-width: 100%
		width: 100%

.slide__text
	font-style: italic
	font-weight: 100
	margin-bottom: 10px
	padding: 0 22%

.slide__link
	font-style: italic
	color: $blue
	&:hover
		color: $blue
		font-weight: 100

.slide__name
	margin-top: 50px
	span
		font-style: italic
		font-family: 'Copyright Klim Type Foundry'

.slick-arrow
	&:hover
		cursor: pointer

.slick-prev 
	position: absolute
	left: 0
	top: 40%
	width: 40px
	height: 70px
	border: none
	background-color: transparent
	background-image: url(../images-theme/left-arrow.png)
	background-repeat: no-repeat
	background-size: contain
	z-index: 10
	color: transparent
	overflow: hidden

.slick-next
	position: absolute
	right: 0
	top: 40%
	width: 40px
	height: 70px
	border: none
	background-color: transparent
	z-index: 10
	color: transparent
	overflow: hidden
	background-image: url(../images-theme/right-arrow.png)
	background-repeat: no-repeat
	background-size: contain

.slick-dots
	display: none !important
	.slick-active
		button
			background-color: $blue
			border-color: 1px solid $blue
	li
		display: inline-block
		margin: 0 6px
		button
			width: 18px
			height: 18px
			border-radius: 50%
			font-size: 0
			border: none
			background-color: transparent
			border: 1px solid $green
			color: transparent


.about
	.base-title
		margin-bottom: 80px

.about__item
	text-align: center
	margin-bottom: 100px

.about__item__image
	display: inline-block
	width: 200px
	max-width: 100%
	margin-bottom: 40px

h3.base-title.about__item__title
	font-size: 40px
	line-height: 45px
	margin-bottom: 30px

.about__item__text
	display: block
	margin: 0 auto
	width: 45%		

.offers
	padding: 100px 0
	padding-top: 50px 

.offers__buttons
	margin-bottom: 25px
	a
		margin: 0 10px


.multiply
	padding-bottom: 100px
.multiply__title
	margin-bottom: 0

.description-title
	margin-bottom: 20px
	margin-top: 15px
	display: inline-block	

.multiply__item
	width: 45%
	text-align: left

.multiply__grid.flex
	justify-content: space-around
	padding-top: 50px
	align-items: start

.multiply__image
	min-height: 350px
	max-height: 350px
	display: inline-block
	margin-bottom: 30px
	max-width: 90%

.multiply__item__title
	text-align: left	

.multiply__list
	text-align: left
	li
		margin-bottom: 5px
		ul
			padding-left: 25px

.multiply__item__title
	font-family: Lato
	font-weight: 700
	margin-bottom: 5px

.features
	padding-bottom: 60px

.features__text
	margin-bottom: 50px
	width: 70%
	margin: 0 auto
	margin-bottom: 90px

.features__grid.flex
	justify-content: space-around
	flex-wrap: wrap

.features__item
	width: 40%
	text-align: center
	margin-bottom: 50px
	display: flex
	align-items: center
	flex-direction: column
	align-self: baseline

.features__image
	display: inline-block
	max-width: 70%
	margin-bottom: 0px
	height: 180px
	min-height: 200px

.features__button
	margin-top: 50px
	margin-bottom: 50px


.content__wrap
	width: 60%
	display: block
	margin: 0 auto
	margin-top: 100px
	p
		margin-bottom: 70px
	img
		display: block
		margin-bottom: 70px

.content-page
	figure
		margin: 0
		margin-bottom: 60px
	article
		padding-top: 80px
		h2
			margin-bottom: 50px
		p
			text-align: center
			margin: 0 auto
			width: 50%
			margin-bottom: 50px

article
	margin-bottom: 70px

figcaption
	font-style: italic
	width: 60%
	margin: 0 auto
	margin-bottom: 60px
	margin-top: 15px
	font-weight: 600

.testimonial__avatar
	text-align: center
	margin-bottom: 60px
	img
		display: inline-block
		max-width: 100px

.testimonial__avatar__name
	font-style: italic
	font-family: Copyright Klim Type Foundry

.testimonial__video
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  height: auto
  margin-bottom: 60px
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.video-bg
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
	background-image: url(../images-theme/article_img1.jpg)
	background-size: cover
	background-position: top center
	z-index: 1
	&:hover
		cursor: pointer


.partners
	img
		max-width: 300px
		display: inline-block

.contact-us
	display: block
	margin: auto
	margin-bottom: 70px
	width: 45%
	padding: 30px 40px
	padding-left: 3%
	padding-right: 4%
	text-align: left
	background-color: $ligth-blue
	display: flex
	flex-wrap: wrap
	align-self: normal
	align-items: center
	//border: 2px dashed #dbeffb
	position: relative
	button
		background-color: $blue
		&:hover
			background-color: darken($blue, 10%)
	input
		background-color: $ligth-blue2
	.input-wrap
		width: 100%
	.form__title
		color: $black
		display: block
		width: 100%
	.form__text
		color: $black
		display: block
		width: 100%	
	svg
	  position: absolute
	  top: 0px
	  left: 0px
	  height: 100%
	  width: 100%
	path
	  fill: none
	  stroke: #dbeffb
	  stroke-width: 2
	  stroke-dasharray: 5, 3

.ecommerce__partners
	margin-bottom: 60px
	img
		width: 100%
		max-width: 180px
	p
		margin-top: 30px

.partners__list__grid
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	margin-bottom: 70px
	img
		display: inline-block
		width: 100%
		max-width: 12%
		margin-bottom: 20px
		margin: 0 2%
		margin-bottom: 20px	

.book-a-demo
	.footer-title-info
		display: none
	.platform
		padding-bottom: 40%		

.book-a-demo__image
	max-width: 400px
	display: inline-block
	margin: 0 auto

.book-demo-form
	width: 60%
	margin-bottom: 90px
	.form__title
		margin-bottom: 40px
	input
		position: relative
		z-index: 10
		width: 48%
		margin-bottom: 20px
	.input-wrap
		height: 50px	

.book-demo-form__wrap
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.grid
  display: flex
  justify-content: space-between
  .grid__item
  	width: 50%
  	align-self: flex-start

.article__item
	margin-bottom: 80px

.article__preview
	max-width: 300px

.article__image
	display: inline-block
	width: 100%
	margin-bottom: 50px

.article__description
	position: relative
	top: -20px
	font-style: italic
	margin-bottom: 20px

.article__text
	margin-bottom: 30px		

.article__content
	text-align: left	  				
