{{$main := .Params}}
<main>
	{{with $main.hero}}
	<section class="base-section hero">
		<div class="container">
			<h1 class="hero__title base-title">{{.title | safeHTML}}</h1>
			<div class="hero__item flex">
				<p class="herro__text base-text">
					{{.caption | safeHTML}}
				</p>
				{{$alt := .title | plainify}}
				{{with .image}}
				<div class="hero__image">
					<img src="{{.}}" alt="{{$alt}}">
				</div>
				{{end}}
			</div>
		</div>
	</section>
	{{end}}
	<section class="base-section sentence">
		<div class="container">
			{{with $main.hero}}
			{{with .description.title}}
			<h3 class="sentence__title base-title base-title-small">{{.}}</h3>
			{{end}}
			{{with .description.text}}
			<p class="base-text sentence__text">{{.|safeHTML}}</p>
			{{end}}
			{{end}}
			<div class="sentence__item flex">
				{{with $main.key_benefits}}
				<div class="sentence__benefits">
					<svg viewBox='0 0 300 100' preserveAspectRatio='none'>
				    <path d='M0,0 300,0 300,100 0,100z' />
				  </svg>
					{{with .title}}
					<div class="benefits__title base-title-small">{{.}}</div>
					{{end}}
					{{with .list}}
					<ul class="benefits__list">
						{{range .}}
							<li>{{.item}}</li>
						{{end}}
					</ul>
					{{end}}
				</div>
				{{end}}
				{{with $main.book_demo}}
				<div class="sentence__form">
					<form class="base-form">
						{{with .title}}
						<div class="form__title base-title-small">{{.}}</div>
						{{end}}
						{{with .caption}}
						<div class="form__text">{{.}}</div>
						{{end}}
						<div class="input-wrap">
							<input type="email" required>
							<button type="submit">Send</button>
						</div>
					</form>
				</div>
				{{end}}
			</div>
		</div>
	</section>
	{{with $main.slider}}
	<section class="reviews">
		<div class="container">
			<div class="slider">
				{{range .}}
				<div class="slider__item">
					{{with .icon}}
					<div class="slide__avatar">
						<img src="{{.}}" alt="avatar">
					</div>
					{{end}}
					{{with .text}}
					<div class="slide__text">“{{.|safeHTML}}”</div>
					{{end}}
					{{with .link}}
					<a href="{{.url}}" class="slide__link">{{.title}}</a>
					{{end}}
					<div class="slide__name"><span>{{with .name}}{{.}}{{end}}</span>
					<br>{{with .position}}{{.}}{{end}}</div>
				</div>
				{{end}}
			</div>
		</div>
	</section>
	{{end}}
	{{with $main.nutshell}}
	<section class="about">
		<div class="container">
			{{with .title}}
			<h2 class="base-title">{{.}}</h2>
			{{end}}
		</div>
		<div class="container">
			{{range .list}}
			<div class="about__item">
				{{$alt := .title| plainify}}
				{{with .icon}}
				<img class="about__item__image" src="{{.}}" alt="{{$alt}}">
				{{end}}
				{{with .title}}
				<h3 class="base-title about__item__title">{{.|safeHTML}}</h3>
				{{end}}
				{{with .caption}}
				<p class="about__item__text">{{.|safeHTML}}</p>
				{{end}}
			</div>
			{{end}}
		</div>
	</section>
	<div class="offers">
		<div class="container">
			{{with .buttons}}
			<div class="offers__buttons">
				{{range .}}
				<a href="{{.url}}" class="blue-button button">{{.title}}</a>
				{{end}}
			</div>
			{{end}}
			{{with .after_buttons_description}}
			<p class="offers__text">{{.|safeHTML}}</p>
			{{end}}
		</div>
	</div>
	{{end}}
	{{with $main.multiply}}
	<section class="multiply">
		<div class="container">
			{{with .title}}
			<h2 class="base-title multiply__title">{{.|safeHTML}}</h2>
			{{end}}
			{{with .caption}}
			<span class="description-title base-text">{{.|safeHTML}}</span>
			{{end}}
			<div class="multiply__grid flex">
			{{range .blocks}}
				<div class="multiply__item">
					<img class="multiply__image" src="{{.picture}}" alt="{{.title | plainify}}">
					<div class="multiply__item__title base-title-small">{{.title }}</div>
					{{with .description}}
					{{$text := replace . "/" ""}}
					<ul class="multiply__list">{{$text|safeHTML}}</ul>
					{{end}}
				</div>
			{{end}}
			</div>
		</div>
	</section>
	{{end}}
	{{with $main.features}}
	<section class="features">
		<div class="container">
			{{with .title}}
			<h2 class="base-title">
				{{.|safeHTML}}
			</h2>
			{{end}}
			{{with .caption}}
			<div class="features__text base-text">{{.|safeHTML}}</div>
			{{end}}
			<div class="features__grid flex">
				{{range .blocks}}
				<div class="features__item">
					<img class="features__image" src="{{.picture}}" alt="{{.title}}">
					<h3 class="features__item__title base-title base-title-small">{{.title | plainify}}</h3>
					{{with .description}}
					{{$text := replace . "/" ""}}
					<p class="base-text">{{$text|safeHTML}}</p>
					{{end}}
				</div>
				{{end}}
			</div>
			{{with .button}}
				<a href="{{.url}}" class="features__button blue-button button">{{.title}}</a>
			{{end}}
		</div>
	</section>
	{{end}}
</main>
