<main>
	<section class="base-section hero">
		<div class="container">
			<h1 class="hero__title base-title">The <span>only</span> <br> marketing platform <br> for retail</h1>
			<div class="hero__item flex">
				<p class="herro__text base-text">
					Custobar is the only sales and marketing platform designed with retail at heart from the very beginning. Simply stated, we gather all your customer, sales and product data from every source, and put it where it’s most powerful <strong>– in your hands.</strong>
				</p>
				<div class="hero__image">
					<img src="images-theme/hero_laptop.svg" alt="hero_laptop">
				</div>
			</div> 
		</div>
	</section>
</main>