<main>
	<section class="base-section hero">
		<div class="container">
			<h1 class="hero__title base-title">The <span>only</span> <br> marketing platform <br> for retail</h1>
			<div class="hero__item flex">
				<p class="herro__text base-text">
					Custobar is the only sales and marketing platform designed with retail at heart from the very beginning. Simply stated, we gather all your customer, sales and product data from every source, and put it where it’s most powerful <strong>– in your hands.</strong>
				</p>
				<div class="hero__image">
					<img src="images-theme/hero_laptop.svg" alt="hero_laptop">
				</div>
			</div> 
		</div>
	</section>

	<section class="base-section sentence">
		<div class="container">
			<h3 class="sentence__title base-title base-title-small">Let your own data boost your sales</h3>
			<p class="base-text sentence__text">With highly effective degree of automation, you’ll be able to reach out to customers in the way that suits them best – telling them about the products and promotions you can be sure they’ll want to hear about.</p>

			<div class="sentence__item flex">
				<div class="sentence__benefits">
					<svg viewBox='0 0 300 100' preserveAspectRatio='none'>
				    <path d='M0,0 300,0 300,100 0,100z' />
				  </svg>
					<div class="benefits__title base-title-small">Key benefits for retailer</div>
					<ul class="benefits__list">
						<li>Focus more on profitable actions</li>
						<li>You’ll will be meaningful for you customer </li>
						<li>Campaigns will be done quickly</li>
						<li>See a real 360 view to customer</li>
					</ul>
				</div>
				<div class="sentence__form">
					<form class="base-form">
						<div class="form__title base-title-small">Book a demo</div>
						<div class="form__text">Leave your email and we’ll schedule a time for a personal 20min online demo for you.</div>
						<div class="input-wrap">
							<input type="email" required>
							<button type="submit">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="reviews">
		<div class="container">
			<div class="slider owl-carousel">
				<div class="slider__item">
					<div class="slide__avatar">
						<img src="images-theme/slide.png" alt="">
					</div>
					<div class="slide__text">“Our staff sends 100-200 different messages per month through Custobar. The secret is that it is so easy and motivating to use. You see the results the following day. Sometimes the conversion rates are just insane; 40% is not unheard of.”
					</div>
					<a href="#" class="slide__link">Read more!</a>
					<div class="slide__name"><span>Jyri Lipponen</span> <br> Founder, Levykauppa Äx</div>
				</div>
				<div class="slider__item">
					<div class="slide__avatar">
						<img src="images-theme/slide.png" alt="">
					</div>
					<div class="slide__text">“Our staff sends 100-200 different messages per month through Custobar. The secret is that it is so easy and motivating to use. You see the results the following day. Sometimes the conversion rates are just insane; 40% is not unheard of.”
					</div>
					<a href="#" class="slide__link">Read more!</a>
					<div class="slide__name"><span>Jyri Lipponen</span> <br> Founder, Levykauppa Äx</div>
				</div>
			</div>
		</div>
	</section>
</main>
