{{$footer := .Params.footer}}
{{$site := .Site.Params}}
<footer>
  <div class="container">
    {{with $footer.title}}
  	<h2 class="footer-title base-title">{{.|safeHTML}}</h2>
    {{end}}
    <div class="footer-title-info">
      {{with $footer.button}}
      <a class="blue-text" href="{{.url}}">{{.title}}</a>
      {{end}}
      {{with $footer.text}}
      <span>{{.|safeHTML}}</span>
      {{end}}
      {{with $footer.phone}}
      <a class="blue-text phone" href="">{{.|safeHTML}}</a>
      {{end}}
    </div>
  	<div class="footer-grid flex">
      {{with $footer.menu}}
  		<ul class="footer__item footer__menu">
  		{{range .}}
        <li><a href="{{.url}}">{{.title}}</a></li>
      {{end}}
  		</ul>
      {{end}}
      {{with $footer.addresses}}
  		<div class="footer__item footer__address">
  			{{range .}}
        <address>
          <span class="city">{{.city}}</span>
          {{.address|safeHTML}}
          <a href="tel:{{.tel}}">{{.tel}}</a>
        </address>
        {{end}}
  		</div>
      {{end}}
      {{with $footer.whats_new}}
  		<div class="footer__item new">
  			{{with .title}}
        <div class="new__title">{{.}}</div>
        {{end}}
        {{with .news_picture}}
  			<img class="new__image" src="{{.}}" alt="">
        {{end}}
  			<div class="new__item">
  				{{with .news_title}}
          <div class="new__item__title base-title-small">{{.}}</div>
          {{end}}
          {{with .news_caption}}
  				<div class="new__item__text base-text">{{.}}</div>
          {{end}}
  			</div>
  		</div>
      {{end}}
  	</div>
  	{{with $footer.platform}}
    <div class="platform">
  		{{with .icon}}
      <img class="platform__image" src="{{.}}" alt="">
      {{end}}
      {{with .title}}
  		<h2 class="platform__title base-title">{{.}}</h2>
      {{end}}
      {{with .button}}
  		<a href="{{.url}}" class="blue-button button">{{.title}}</a>
      {{end}}
  	</div>
    {{end}}
  </div>
  <div class="footer__bottom">
    <div class="container">
      {{with $site.socialNetwork}}
      <ul class="social__list">
        {{range .}}
        <li>
          <a href="{{.link}}" target="_blank"><img src="{{.icon}}" alt="">
            <span>{{.title}}</span></a>
        </li>
        {{end}}
      </ul>
      {{end}}
      <div class="copyright">
        {{with $site.copyright}}
        {{.text}} <br>
        {{end}}
        {{with $site.privacy_link}}
        <a href="{{.url}}">{{.text}}</a>
        {{end}}
      </div>
    </div>
  </div>
</footer>
