<footer>
  <div class="container">
  	<h2 class="footer-title base-title">Your customers are <span>induviduals</span>, <br> treat them that way</h2>
  	<div class="footer-grid flex">
  		<ul class="footer__item footer__menu">
  			<li><a href="#">API documentation</a></li>
  			<li><a href="#">Become a partner</a></li>
  			<li><a href="#">Support</a></li>
  			<li><a href="#">Plugins</a></li>
  			<li><a href="#">Press</a></li>
  			<li><a href="#">Contact</a></li>
  			<li><a href="#">Jobs</a></li>
  		</ul>
  		<div class="footer__item footer__address">
  			<address>
  				<span class="city">Amasterdam</span>
  				<span>Utrechtsedwarsstraat 13 III</span>
  				<span>1017WB Amsterdam, Netherlands</span>
  				<a href="tel:467252238922">+ 46 72 5223 89 22</a>
  			</address>
  			<address>
  				<span class="city">Berlin</span>
  				<span>Max-Beer-Straße 15</span>
  				<span>10119 Berlin, Germany</span>
  				<a href="tel:467252238922">+ 46 72 5223 89 22</a>
  			</address>
  			<address>
  				<span class="city">Helsinki</span>
  				<span>Aleksis Kiven Katu 26 C</span>
  				<span>00500 Helsinki, Finland</span>
  				<a href="tel:467252238922">+ 46 72 5223 89 22</a>
  			</address>
  			<address>
  				<span class="city">Sophia Antipolis</span>
  				<span>2000 Route des Lucioles</span>
  				<span>06901 Sophia Antipolis, France</span>
  				<a href="tel:467252238922">+ 46 72 5223 89 22</a>
  			</address>
  		</div>
  		<div class="footer__item new">
  			<div class="new__title">What’s new</div>
  			<img class="new__image" src="images-theme/table.jpg" alt="">
  			<div class="new__item">
  				<div class="new__item__title base-title-small">RFM matrix is effective way to take actions based on your customer data.</div>
  				<div class="new__item__text base-text">Want to target your best customers? With Custobar it's click-and-go!</div>
  			</div>
  		</div>
  	</div>
  	<div class="platform">
  		<img class="platform__image" src="images-theme/campaign_statistics.svg" alt="">
  		<h2 class="platform__title base-title">The only platform for retail</h2>
  		<a href="#" class="blue-button button">Book a demo</a>
  	</div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <ul class="social__list">
        <li>
          <a href="#"><img src="images-theme/linkedin.png" alt="">
            <span>linkedin</span></a>
        </li>
        <li>
          <a href="#"><img src="images-theme/facebook.png" alt="">
            <span>Facebook</span></a>
        </li>
        <li>
          <a href="#"><img src="images-theme/twitter.png" alt="">
            <span>Twitter</span></a>
        </li>
      </ul>
      <div class="copyright">Copyright © 2018 Custobar <br> <a href="#">Privacy Policy</a></div>
    </div>
  </div>
</footer>

