{{$headerTitle := .Params.header.header_title}}
{{$headerButton := .Params.header.header_button}}
{{$headerMenu := .Params.header_section.menu}}

<header class="header">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, earum aspernatur molestias, eligendi, voluptate porro accusantium tenetur perferendis, explicabo quas culpa recusandae quidem sunt mollitia totam minima alias ipsam obcaecati.</p>
    <h2 class="base-title">{{$headerTitle}}</h2>
    <a href="#">{{$headerButton}}</a>
  </div>
</header>
