{{$headerTitle := .Params.header.header_title}}
{{$headerButton := .Params.header.header_button}}
{{$headerMenu := .Params.header_section.menu}}

<header class="header">
  <div class="container flex">
  	<a href="#" class="logo">
  		<img src="images-theme/custobar_logo.png" alt="Custobar logo">
  	</a>
  	<ul class="menu">
  		<li class="menu__item"><a href="#">Features</a></li>
  		<li class="menu__item"><a href="#">Pricing</a></li>
  		<li class="menu__item"><a href="#">Support</a></li>
  		<li class="menu__item"><a href="#">Partners</a></li>
  		<li class="menu__item"><a href="#">Blog</a></li>
  	</ul>
  	<a href="#" class="demo blue-button button">Book a demo</a>
    <a class="ninja-btn" title="menu"><span></span></a>
  </div>
</header>

