{{$site := .Site.Params}}
<header class="header">
  <div class="container flex">
    {{with $site.header.logo}}
  	<a href="{{.url}}" class="logo">
  		<img src="{{ .Site.BaseURL }}/images-theme/custobar_logo.png" alt="{{.alt}}">
  	</a>
    {{end}}
    {{with $site.topNavigation}}
  	<ul class="menu">
      {{range .}}
      <li class="menu__item"><a href="{{.url}}">{{.title}}</a></li>
      {{end}}
  	</ul>
    {{end}}
    {{with $site.header.button}}
  	<a href="{{.url}}" class="demo blue-button button">{{.title}}</a>
    {{end}}
    <a class="ninja-btn" title="menu"><span></span></a>
  </div>
</header>
